.hamburger{
  color:#fff;
}
.googleplay{
  border-radius: 5px;
  width: 150px;
}
.project-para{
  width:60%;
  color:#737373;
}
.project-info-div{
  margin-top: 250px;
}
.author-img{
  width:35px;
  margin:0 5px;
  border-radius: 50%;
}
.author-info{
  padding:5px 10px;
    float: right;
    border-radius: 50px;;
    background-color: #4a4a4a;
    box-shadow: 3px 5px 6px #0e0e0e;
}
@media (max-width:769px){
  .project-para{
    width:100%;
  }
  .project-info-div{
    margin-top: 150px;
  }
}

@keyframes paraani{
  0%{
    margin-top: 30px;
    opacity: 0;
  }
  100%{
    margin-top: 0px;
    opacity: 1;
  }
}
